---
import Button, { ButtonTwo } from "../Button";
---

<section class="max-w-full">
  <div
    class="relative mx-auto flex flex-col px-4 md:px-6 lg:px-8 sm:max-w-xl md:max-w-screen-xl md:flex-row"
  >
    <!-- Left Column -->
    <div
      class="my-auto mx-auto mt-10 w-full max-w-xl md:mt-56 lg:max-w-screen-xl"
    >
      <div class="mb-16 lg:mb-0 lg:max-w-lg">
        <div class="mb-6 max-w-xl">
          <div>
            <p
              class="bg-teal-accent-400 mb-2 inline-block rounded-full px-3 py-px text-xs font-semibold uppercase tracking-wider"
            >
              Approved by google
            </p>
          </div>
          <h2
            class="mb-6 max-w-lg text-3xl font-bold tracking-tight sm:text-5xl sm:leading-snug"
          >
            World's Best <br />
            <span class="inline-block font-bold">Programming Tutors</span>
          </h2>
          <p class="">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ullam
            rem voluptatem, animi tempora expedita!Lorem ipsum dolor.
          </p>
        </div>
        <div class="flex items-center gap-x-4">
          <!-- <a
            href="/"
            class="mr-6 inline-flex h-12 items-center justify-center rounded bg-orange-600 px-6 font-medium tracking-wide text-white shadow-md outline-none transition duration-200 hover:bg-orange-400 focus:ring"
          >
            Get started
          </a> -->
          <Button title="Start Now" link="" />
          <ButtonTwo title="Learn more" link="" />
        </div>
      </div>
    </div>
    <!-- /Left Column -->

    <!-- Right Column -->
    <div
      class="flex h-full w-full space-x-3 overflow-hidden md:justify-end lg:px-2"
    >
      <!-- Col 2 -->
      <div
        class="my-auto mb-20 hidden w-56 flex-col space-y-3 md:mt-36 lg:flex"
      >
        <div class="rounded-xl bg-yellow-400 pt-10">
          <img
            class="h-full w-full object-contain"
            src="/images/yg7jHmFeLOLmlxPWz8D4C.png"
            alt=""
          />
        </div>
      </div>
      <div
        class="my-auto flex space-x-3 rounded-xl md:mt-36 md:w-60 md:flex-col md:space-y-3 md:space-x-0 md:px-4"
      >
        <div class="h-40 overflow-hidden rounded-xl bg-green-600/60">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src="/images/5L6JMrng-34iG1LN5yh7Q.png"
            alt=""
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-pink-600/60">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src="/images/AjCb3ZW2H6zNzumU0E3B2.png"
            alt=""
          />
        </div>
        <div class="h-40 overflow-hidden rounded-xl bg-blue-600/60">
          <img
            class="mx-auto h-full w-full object-contain object-bottom"
            src="/images/LOsO0RwPYEzhVfeDuJG3M.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <!-- /Right Column -->
  </div>
</section>
