---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import WebsiteLayout from "../components/WebsiteLayout";
import React from "react";
---

<Layout title="BFG Digital: Web Development">
  <main>
    <WebsiteLayout client:load>
      <Hero />
    </WebsiteLayout>
  </main>
</Layout>
