---
import Layout from "../layouts/Layout.astro";
import WebsiteLayout from "../components/WebsiteLayout";
import ServicesHero from "../components/Services/ServicesHero.astro";
import BlogPosts from "../components/BlogComponents/BlogPosts.astro";
import ContactForm from "../components/Home/ContactForm";

const { content } = Astro.props;
---

<Layout title="Calgary Web Design Blogs">
  <WebsiteLayout client:load>
    <main class="bg-neutral">
      <div class="h-screen max-h-screen">
        <ServicesHero content={content} />
      </div>
      <BlogPosts content={content} />
      <section class="pt-8 lg:pt-24">
        <p class="text-center text-sm md:text-base lg:text-lg">
          Like what you see? Get in touch!
        </p>
        <ContactForm />
      </section>
    </main>
  </WebsiteLayout>
</Layout>
