---
import Layout from "../layouts/Layout.astro";
import WebsiteLayout from "../components/WebsiteLayout";
import ServicesHero from "../components/Services/ServicesHero.astro";
import BlogPosts from "../components/BlogComponents/BlogPosts.astro";

const { content } = Astro.props;
---

<Layout title="Calgary Web Design Blogs">
  <WebsiteLayout client:load>
    <main class="bg-neutral">
      <ServicesHero content={content} />
      <BlogPosts content={content} />
    </main>
  </WebsiteLayout>
</Layout>
